body {
	padding-top: 50px;
}

.navbar-brand img {
	float: left;
	height: 70px;
	margin-top: -20px;
}

.footer {
	color: #FFF;
	background: #72d0f4;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 40px;
}

.footer img {
	height: 75px;
	margin-left: 10px;
	margin-right: 10px;
}

.home-page .classes-row {
	margin-top: 40px;
}

.page .banner {
	position: relative;
	border-bottom: 5px solid #00BFF0;
}

.page .banner h1 {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 7px 50px;
	color: #FFF;
	background-color: #00BFF0;
}

.page .banner img {
	width: 100%;
}

.page .main-container {
	margin-top: 40px;
}

.member-page img.user-icon {
	width: 100%;
}

/* παραμετροποίηση χρωμμάτων bootstrap */

.navbar-default {
	background-color: #00BFF0;
	border-color: #FFF;
}

.navbar-default .navbar-brand {
	color: #FFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #00BFF0;
	background-color: #FFF;
}

.navbar-default .navbar-nav > li > a {
	color: #FFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #00BFF0;
	background-color: #FFF;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	color: #00BFF0;
	background-color: #FFF;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	color: #00BFF0;
	background-color: #FFF;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: #ecf0f1;
	border-bottom-color: #ecf0f1;
}

.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #333;
	border-bottom-color: #333;
}

.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
	border-top-color: #555;
	border-bottom-color: #555;
}
